<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Surveys</h3>
         
          <a href="/details/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a survey</a>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
              
                  <td class="text-center">
             
                  <a href="/details/<%=surveys[count]._id%>" class="btn btn-primary"><i class="fa fa-pencil-square"></i> Edit sruvey</a>

                  </td>

                  <td class="text-center">
                    
                     <a href="/details/delete/<%=surveys[count]._id%>" class="btn btn-danger"><i class="fa fa-trash"></i> Delete survey</a>
                  </td>
                  </td>
                </tr>
             
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


